* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
        --dk-grey: #303030;
        --grey: #565656;
	--lt-grey: #D2D2D2;
	--yellow: #DEBA3A;
}

body {
    background-color: var(--dk-grey);
}

h1 {
	color: var(--lt-grey);
	font-size: 30px;
	float: left;
	padding-top: 30px;
}

.search-mobile {
	display: none;
}

input {
	border: 3px solid var(--dk-grey);
	border-radius: 5px;
	color: var(--lt-grey);
	background: transparent;
	font-size: 18px;
	padding: 5px;
	padding-left: 35px;
}

::placeholder {
	color: var(--lt-grey);
}

.search {
	position: relative;
}

.search img {
	position: absolute;
	top: 8px;
	left: 10px;
}

a:link {
	text-decoration: none;
	color: var(--lt-grey);
	font-size: 18px;
}

a:visited {
	text-decoration: none;
	color: var(--lt-grey);
	font-size: 18px;
}

.sign-up {
	border: 2px solid var(--lt-grey);
	border-radius: 5px;
	padding: 8px 15px 8px 15px;
	margin-left: 15px;
}

.logo {
	height: 100px;
	width: 100px;
	float: left;
}

.makes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.make-listing {
	color: var(--lt-grey);
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: var(--grey);
	font-size: 18px;
	width: 350px;
}

.make-title {
	font-size: 30px;
	padding: 15px 15px 5px
}

.make-creator {
	font-size: 18px;
	padding-left: 15px;
	padding-bottom: 5px
}

.make-likes {
	float: left;
	margin: 11px 10px 10px 15px;
}

.like-count {
	font-size: 30px;
	align-items: center;
	margin-top: 15px;
}

.flex-parent{
	display: flex;
}

.flex-child{
	flex: 1;
}

.download-icon {
	height: 25px;
	width: 25px;
	float: right;
}

.download-btn {
        background: var(--yellow);
        color: black;
        padding: 12px 16px;
        border-radius: 7px;
        cursor: pointer;
	width: 165px;
	align-items: center;
	margin: 5px 10px 10px 15px;
	float: right;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 50px;
    color: #171211;
    background-color: var(--grey);
    overflow: hidden;
}

/* Mobile view down here */
@media screen and (max-width:955px) {
	.top-navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 5px 25px;
		color: #171211;
		background-color: var(--grey);
		overflow: hidden;
	}

	h1 {
		color: var(--lt-grey);
		font-size: 30px;
		float: left;
		padding-top: 20px;
	}

	.search {
		display: none;
	}

	.make-listing {
		color: var(--lt-grey);
		margin: auto;
		width: 50%;
		background-color: var(--grey);
		font-size: 18px;
		width: 350px;
		margin-bottom: 30px;
	}

	.logo {
		height: 70px;
		width: 70px;
		float: left;
	}

	a:link {
		text-decoration: none;
		color: var(--lt-grey);
		font-size: 14px;
	}

	a:visited {
		text-decoration: none;
		color: var(--lt-grey);
		font-size: 14px;
	}

	.sign-up {
		border: 2px solid var(--lt-grey);
		border-radius: 5px;
		padding: 8px 10px 8px 10px;
		margin-left: 10px;
	}

	input {
		border: 3px solid var(--lt-grey);
		border-radius: 5px;
		background-color: transparent;
		color: var(--lt-grey);
		font-size: 18px;
		padding: 5px;
		padding-left: 10px;
		width: 350px;
	}

	::placeholder {
		color: var(--lt-grey);
	}

	.search-mobile {
		position: relative;
		display: flex;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.search-mobile img {
		display: none;
	}
}

/* Mobile view down here */
@media screen and (max-width:500px) {
	h1 {
		display: none;
	}
}
